<div class="text-center landing">
    <div class="row justify-content-center align-items-center h-100" style="margin: 0 0 0 0;">
        <!-- TODO ESTO SE DEBE MODIFICAR -->
        <div class="col ">
            <input type="text" style="border-radius: 15px; " id="direccionInput" placeholder=" Direccion"
                class="form-control bg-white ps-1">
        </div>
        <div class="col">
            <button type="submit" style="border-radius: 15px;" class="btn btn-danger btn-block w-25"
                routerLink="/locals">Buscar</button>
        </div>
    </div>
</div>
<app-carrousel></app-carrousel>
<app-card></app-card>
