<div class="row">
    <div class="col">
        <!-- ACA TENDRIA QUE HABER UNSO CARD Y PASARLES LOS DATOS -->
        <mat-card class="example-card m-3">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title> {{title}} </mat-card-title>
                <mat-card-subtitle> {{subtitle}} </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content class="m-1 p-1">
                <p>
                    {{description}}
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>