<h1 mat-dialog-title>Eliminar Local</h1>
<mat-dialog-content class="mat-typography">
  <h2>¿Esta seguro que desea elimianar a {{local.name}}?</h2>
  <p>Una vez que el local sea eliminado este sera dado de baja</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="primary" (click)="cancelEdit()">Cerrar</button>
  <button mat-raised-button cdkFocusInitial color="warn" (click)="confirmDelete(local._id)">Eliminar</button>
</mat-dialog-actions>
