<div class="container-fluid" style="width: 75vw;">
  <h2 mat-dialog-title>Editar Usuario</h2>
  <form [formGroup]="userForm" (ngSubmit)="editUser()">
    <mat-dialog-content>

      <!---------------- NOMBRE ---------------->
      <mat-form-field class="col example-full-width ">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <!---------------- NOMBRE ---------------->

      <!---------------- CONTRASEÑA ---------------->
      <mat-form-field class="col example-full-width ">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
      <!---------------- CONTRASEÑA ---------------->

      <!---------------- DIRECCION ---------------->
      <mat-form-field class="col example-full-width ">
        <mat-label>Direccion</mat-label>
        <input matInput formControlName="address">
      </mat-form-field>
      <!---------------- DIRECCION ---------------->

      <!---------------- SEXO ---------------->
      <mat-form-field class="col example-full-width ">
        <mat-label>Sexo</mat-label>
        <input matInput formControlName="gender">
      </mat-form-field>
      <!---------------- SEXO ---------------->

      <!---------------- SEXO ---------------->
      <mat-form-field class="col example-full-width ">
        <mat-label>Registrado</mat-label>
        <input matInput formControlName="registered">
      </mat-form-field>
      <!---------------- SEXO ---------------->

      <!---------------- ESTADO ---------------->
      <mat-checkbox formControlName="hideRequiredControl">Activo</mat-checkbox>
      <!---------------- ESTADO ---------------->

    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-raised-button mat-dialog-close color="warn">Cerrar</button>
      <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial color="primary">Editar</button>
    </mat-dialog-actions>
  </form>
</div>