<div class="container-fluid" style="width: 50vw;">
  <h2 mat-dialog-title>Editar Usuario</h2>
  <form [formGroup]="userForm" (ngSubmit)="editUser()">
    <mat-dialog-content>

      <!---------------- NOMBRE ---------------->
      <mat-form-field class="col">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
      <!---------------- NOMBRE ---------------->

      <!---------------- CONTRASEÑA ---------------->
      <mat-form-field appearance="fill" class="col">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide=!hide">
          <mat-icon> {{hide ? 'visibility_off' : 'visibility'}} </mat-icon>
        </button>
      </mat-form-field>
      <!---------------- CONTRASEÑA ---------------->

      <!---------------- EMAIL ---------------->
      <mat-form-field class="col">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
      <!---------------- EMAIL ---------------->

      <!---------------- DIRECCION ---------------->
      <mat-form-field class="col">
        <mat-label>Direccion</mat-label>
        <input matInput formControlName="address">
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>
      <!---------------- DIRECCION ---------------->

      <!---------------- TELEFONO ---------------->
      <mat-form-field class="col">
        <mat-label>Telefono</mat-label>
        <input matInput formControlName="phone">
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
      <!---------------- TELEFONO ---------------->

      <!---------------- SEXO ---------------->
      <mat-form-field class="col">
        <mat-select formControlName="gender">
          <mat-option value="Hombre">Hombre</mat-option>
          <mat-option value="Mujer">Mujer </mat-option>
          <mat-option value="N/A">N/A</mat-option>
        </mat-select>
      </mat-form-field>
      <!---------------- SEXO ---------------->

      <!---------------- EDAD ---------------->
      <mat-form-field class="col">
        <mat-label>Edad</mat-label>
        <input matInput formControlName="age" type="number">
        <mat-icon matSuffix>cake</mat-icon>
      </mat-form-field>
      <!---------------- EDAD ---------------->

      <!---------------- ESTADO ---------------->
        <mat-checkbox formControlName="isActive">Activo</mat-checkbox>
      <!---------------- ESTADO ---------------->

    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-raised-button mat-dialog-close color="warn">Cerrar</button>
      <button mat-raised-button [mat-dialog-close]="true" type="submit" cdkFocusInitial color="primary">Editar</button>
    </mat-dialog-actions>
  </form>
</div>